body {
    position: relative;
    min-height: 100vh;
    font-family: 'Merriweather', serif;
    overflow: ;
}

#main {
    background-color: #FAAAAA;
    padding: 40px 150px 75px 25px;
    margin: 25px 5px;
    display: flex;
    flex-direction: column;
}

#title {
    font-weight: bold;
    text-align: center;
}

.intro-sentence {
    text-align: center;
}

#image {
    width: 600px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 75px;
    flex: 1 1 auto;
}

#img-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}