* {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Merriweather', serif;
}

#main {
    background-color: #FAAAAA;
    margin: 25px 5px;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
}

.intro-sentence {
    text-align: center;
}

#image {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    
}

#img-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    padding: 15px 30px;
}

#tribute-info {
    display: flex;
    flex-direction: column;
}

.facts-title {
    text-align: center;
}

.facts-list {
    padding: 0px 150px;
}

.quote {
    padding: 0px 150px;
    font-style: italic;
}

.reference-link {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

li {
}